* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.auth-container {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    padding: 40px;
    text-align: center;
}



h2 {
    font-size: 24px;
    color: #444;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.button-group{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}

.button-group button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    width: 5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-group button:hover {
    background-color: #0056b3;
}
.cancel-btn a{
    color: white;
}

.social-login {
    background-color: #db4437;
    margin-top: 10px;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.toggle-link {
    margin-top: 20px;
    font-size: 14px;
}

.toggle-link a {
    color: #007bff;
    cursor: pointer;
}

.toggle-link a:hover {
    text-decoration: underline;
}
