.homepage {
    display: flex;
    flex-direction: column;
    padding-bottom: 0%;
}

.image-text-section1 {
    display: flex;
    align-items: left;
    margin-bottom: 0px;
    position: relative;
}

.image-text-section2 {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.image-container1 {
    position: relative;
    width: 300%;
    height: 200%;
    margin-right: 0px;
    bottom: 0%;
    top: 0%;
}

.image-container2 {
    margin-left: 0%;
    bottom: 0%;
    padding-bottom: 0%;
    height: 100%;
    border-color: black;
}

.image-container img {
    width: auto;
    height: auto;
    object-fit: cover;
    bottom: 0%;
    top: 0%;
}

.overlay-text1 {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.overlay-text2 {
    padding-top: 3%;
    padding-bottom: 3%;
    color:black;
    background-color:white;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.button3{
  background-color: black;
}

.container {
    display: flex; /* Enables flexbox */
    justify-content: space-between; /* Distributes the columns evenly */
    padding: 20px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.column {
    flex: 1; /* Ensures each column takes equal space */
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
}
