nav {
    /* margin: 0 50px; */
    width: 100vw;
    height: 6rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 4px solid #fcfcfc;
    background-color: #fcfcfc;
}
.nav-container {
    width: 92%;
    height: 120%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* margin-inline: auto; */
}

.logo img {
    width: 80px;
    overflow: hidden;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 40px;
}

.write {
    background-color: #007bff;
    color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.write:hover {
    background-color: white;
    border: 1px solid #007bff;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.user h6 {
    font-size: 16px;
    font-weight: 400;
}

.icon{
   display: flex;
   width: 50px; 
   height: 50px;
}

.nav-link {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
