.postDetail {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}
.post_content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.post_content img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.user_save{
    display: flex;
    justify-content: space-between;
}

.save-button{
    height: 40px;
    width: 200px;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.save-button:hover{
    background-color: white;
    border: 1px solid #007bff;
    color: #000;
}
.post_user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.post_user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
span {
    font-weight: bold;
}
    
.edit {
    display: flex;
    gap: 5px;
}
.edit img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}


.edit h1 {
    font-size: 42px;
    color: #333;
}

.edit p {
    text-align: justify;
    line-height: 30px;
}


.menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.menu h1 {
    font-size: 25px;
    font-weight: bold;
    color: #555;
    text-align: center;
}

.post {
        display: flex;
        flex-direction: column;
        gap: 10px;
}
.post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post h2 {
    color: #555;
    text-wrap: wrap;
}

.post button {
    width: max-content;
    padding: 7.5px 15px;
    border: 1px solid teal;
    cursor: pointer;
    background-color: white;
    color: teal;
}
.post button:hover {
    border: 1px solid white;
    background-color: #b9e7e7;
    color: #000;
}

.share{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
