.footer {
    margin-top: 0px;
    padding: 30px 40px;
    background-color: var(--color-gray-700);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0%;
    left: 0%;
}

.footer img {
    height: 50px;
    border-radius: 50%;
}

.footer p {
    font-size: 25px;
    text-align: center;
}

.about-us {
    display: flex;
    gap: 20px;
}

.about-us a {
    color: white;
}

.icons {
    background-color: aliceblue;
    display: inline-block;
    margin: 15px;
    padding: 8px;
    font-size: 18px;
    border-radius: var(--radius-2);
}

.icons:hover {
    background-color: #007bff;
}
