.add {
    margin-top: 75px;
    display: flex;
    gap: 30px;
    height:75vh ;
}
.create_content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.create_content input {
    padding: 10px;
    border: 1px solid lightgray;
}

.editorContainer {
    height: 300px;
    overflow: scroll;
    border: 1px solid lightgrey;
    max-width:  900PX;
}
.editor {
    height: 100%;
    border: none;
    background-color: white;
    align-self: start; 
}

.category_menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category_item_list{
    border: 1px solid lightgrey;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 12px;
    color: #555;
}


.cat_list {
    display: flex;
    gap: 10px;
    color: #003a7b;
    font-size: 15px;
}


.category_item {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 12px;
    color: #555;
}


.file {
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.create_buttons {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.cancel-create {
    cursor: pointer;
    color: #007bff;
    background-color: white;
    border: 1px solid #007bff;
    padding: 3px 5px;
}
.cancel-create:hover{
    background-color: #007bff;
    color: white;

}
.create_buttons button {
    cursor: pointer;
    color: white;
    background-color: #007bff;
    border: 1px solid white;
    padding: 3px 5px;
}

.create_buttons button:hover{
    color: #007bff;
    background-color: white;
    border: 1px solid #007bff;

}
